**/HELP.md
target/

# Exclusions
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/test/**/build/
!**/src/main/**/build/
!/client/vite-react/public/
!**/.vscode/extensions.json

# STS
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

# Editor directories and files
**/.vscode/*
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
/service/spring-boot/*.sln
/service/spring-boot/*.sw?

# Logs
/client/vite-react/logs
/client/vite-react/*.log
/client/vite-react/npm-debug.log*
/client/vite-react/yarn-debug.log*
/client/vite-react/yarn-error.log*
/client/vite-react/pnpm-debug.log*
/client/vite-react/lerna-debug.log*

# Vite-react specific
/client/vite-react/node_modules
/client/vite-react/dist
/client/vite-react/dist-ssr
/client/vite-react/*.local