HELP.md
target/

# Exclusions
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!/frontend-vite/resuto-manager/public/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.iws
*.iml
*.ipr
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend
# Logs
/frontend-vite/resuto-manager/logs
/frontend-vite/resuto-manager/*.log
/frontend-vite/resuto-manager/npm-debug.log*
/frontend-vite/resuto-manager/yarn-debug.log*
/frontend-vite/resuto-manager/yarn-error.log*
/frontend-vite/resuto-manager/pnpm-debug.log*
/frontend-vite/resuto-manager/lerna-debug.log*

/frontend-vite/resuto-manager/node_modules
/frontend-vite/resuto-manager/dist
/frontend-vite/resuto-manager/dist-ssr
/frontend-vite/resuto-manager/*.local